a:hover{
    text-decoration: none !important;
}
.footer{
    margin-top: 0;
}
body {
    background-color: #E9F0F1 !important;
}
/*contacts*/
.contacts{
    font-family: 'Abel', sans-serif;
    background-color: #00B4DB;
    color: #fff;
    height: 100%;
    overflow-x: hidden;
}
.location, .phone, .mail {
    padding: 10px;
}
.logo img{
    width: 50px;
    height: 50px;
}
.contacts a{
    text-decoration: none;
    color: #fff;
}
.contacts .btn{
    margin-left: 15px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
}
.contacts .btn:hover {
    background-color: #fff;
    color: #00B4DB;
}
.contacts .col-6{
    margin: 30px 0;
}
.contacts .location, .contacts .phone, .contacts .mail{
    margin-left: 60px;
}
.contacts .form-signin {
    margin-right: 60px;
}
.contacts .form-signin label{
    margin-bottom: 15px;
}
.contacts .location, .contacts .phone, .contacts .mail{
    margin-bottom: 30px;
}
.contacts .location h3, .contacts .phone h3, .contacts .mail h3, .contacts .form-signin h2{
    margin-left: 15px;
}
.contacts .form-signin h2{
    margin-top: 10px;
    margin-bottom: 30px;
}
.contacts .location p, .contacts .phone p, .contacts .mail p{
    margin-left: 50px;
}



/*about-us*/
.about-us{
    font-family: 'Abel', sans-serif;
    background-color: #E9F0F1;
    color: #000;
    overflow-x: hidden;
    font-size: 24px;
}

.about-us h2 {
    padding-left: 90px;
}
.about-us h3{
    padding-left: 80px;
}
.about-us .img-wrap1, .about-us .img-wrap7 {
    margin: 30px;
}
.about-us .img-wrap1 img, .about-us .img-wrap7 img{
    height: auto;
    width: 100%;
    max-width: 820px;
}
.about-us .img-wrap2 img{
    margin-top: 30px;
    margin-left: 80px;
    width: auto;
    height: 615px;
}
.about-us .img-wrap3 {
    margin-top: 25px;
}
.about-us .img-wrap3 div{
    margin-left: 70px;
    margin-bottom: 0;
    margin-top: 5px;
}
.about-us .img-wrap3 img{
    width: auto;
    height: 150px;
}
.about-us .img-wrap4 {
    margin-left: 56px;
}
.about-us .img-wrap4 img{
    width: 460px;
    height: auto;
}
.about-us .img-wrap5, .about-us .img-wrap6{
    width: 500px;
    height: auto;
}
.about-us hr{
    margin-left: 80px;
    height: auto;
    width: 100px;
}


/*response*/
.response .mobile {
    display: none;
}
.response .tablet {
    display: none;
}
.response{
    font-family: 'Abel', sans-serif;
    background-color: #E9F0F1;
    color: #000;
    overflow-x: hidden;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.response .gallery {
    background: #E9F0F1;
}
.gallery{
    margin-top: 40px;
}

.response .gallery-cell {
    width: 66%;
    border-radius: 10px;
    counter-increment: gallery-cell;
    height: 250px;
    margin-right: 100px;
    background: #fff;
}
.response .gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: #000;
}
.gallery-text {
    margin-top: 15px;
}
.gallery-avatar img{
    margin-top: 15px;
    width: 50px;
    height: 50px;
}
.gallery-name{
    margin-top: 15px;
    color: #00B4DB;
}
.gallery-time{
    margin-top: 15px;
    font-size: 12px;
}
.response h3{
    margin: 100px auto 30px 30px;
}
.response .avatar img{
    margin-top: 10px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
}
.response .comment img{
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    height: auto;
    width: 800px;
}
.name {
    color: #00B4DB;
    position: absolute;
    top: 15px;
    left: 60px;
}
.time {
    color: #000;
    font-size: 12px;
    position: absolute;
    top: 19px;
    left: 180px;
}
.text {
    color: #000;
    position: absolute;
    top: 45px;
    left: 60px;
}
form{
    margin-left: 30px;
    margin-bottom: 40px;
}
.response .btn {
    margin-left: 15px;
    color: #fff;
    background-color: #00B4DB;
    padding: 5px 20px;
    border-radius: 5px;
}
.response .btn:hover {
    background-color: #b8b7b7;
}

@media (min-width:768px) and (max-width:1100px) {
    .about-us .row{
        flex-direction: column;
    }
    .about-us .img-wrap3 img{
        display: none;
    }
    .about-us .row .a{
        flex-direction: row;
    }
}

@media (min-width:376px) and (max-width:768px) {
    .contacts .row {
        flex-direction: column-reverse;
        column-width: max-content;
    }
    .contacts .row .col-6 {
        max-width: 100%;
    }
    .contacts .row .location .row, .contacts .row .phone .row, .contacts .row .mail .row {
        flex-direction: row;
        max-width: 100%;
    }



    .about-us {
        font-size: 12px;
    }
    .about-us .img-wrap1 img, .about-us .img-wrap7 img{
        width: 80%;
    }
    .about-us .img-wrap1, .about-us .img-wrap2, .about-us .img-wrap7{
        margin-right: 30px;
    }
    h2 {
        font-size: 24px;
    }
    .about-us .row{
        flex-direction: column;
    }
    .about-us .img-wrap3 img{
        display: none;
    }
    .about-us .img-wrap4 img{
        margin-left: 0;
    }
    .about-us .row .a{
        flex-direction: row;
    }
    .about-us .row .col-6 img{
        height: auto;
        width: 100%;
    }
    .about-us .row .col-5, .about-us .row .col-6{
        max-width: 80%;
    }



    h3{
        font-size: 24px;
    }
    .response .comm .avatar img{
        width: 25px;
        height: 25px;
    }
    .response .comm .comment .desktop{
        display: none;
    }
    .response .comm .comment .tablet{
        display: block;
        width: 100%;
        margin-left: 25px;
    }
    .response .comment{
        font-size: 12px;
    }
    .name {
        color: #00B4DB;
        position: absolute;
        top: 5px;
        left: 70px;
    }
    .time {
        color: #000;
        font-size: 10px;
        position: absolute;
        top: 7px;
        left: 150px;
    }
    .text {
        color: #000;
        position: absolute;
        top: 25px;
        left: 70px;
    }
    form .col-5 {
        max-width: 100%;
    }
    form .col-10 {
        max-width: 100%;
    }
}

@media (max-width: 376px){

    .contacts .row {
        flex-direction: column-reverse;
        column-width: max-content;
    }
    .contacts .row .col-6 {
        max-width: 100%;
    }
    .contacts .row .location .row, .contacts .row .phone .row, .contacts .row .mail .row {
        flex-direction: row;
        max-width: 100%;
    }


    .about-us {
        font-size: 12px;
    }
    .about-us .img-wrap1 img, .about-us .img-wrap7 img{
        width: 80%;
    }
    .about-us .img-wrap1, .about-us .img-wrap2, .about-us .img-wrap7{
        margin-right: 30px;
    }
    h2 {
        font-size: 24px;
    }
    .about-us .row{
        flex-direction: column;
    }
    .about-us .img-wrap3 img{
        display: none;
    }
    .about-us .img-wrap4 img{
        margin-left: 0;
    }
    .about-us .row .a{
        flex-direction: column-reverse;
    }
    .about-us .row .col-6 img{
        height: auto;
        width: 100%;
    }
    .about-us .row .col-5, .about-us .row .col-6{
        max-width: 80%;
    }


    h3{
        font-size: 24px;
    }
    .response .comm .comment .desktop{
        display: none;
    }
    .response .comm .comment .tablet{
        display: none;
    }
    .response .comm .comment .mobile{
        display: block;
        height: 160px;
        margin-left: 25px;
    }
    .response .comment{
        font-size: 12px;
    }
    .name {
        color: #00B4DB;
        position: absolute;
        top: 7px;
        left: 100px;
    }
    .time {
        color: #000;
        font-size: 10px;
        position: absolute;
        top: 9px;
        left: 180px;
    }
    .text {
        color: #000;
        position: absolute;
        top: 35px;
        left: 100px;
    }
    form .col-5 {
        max-width: 100%;
    }
    form .col-10 {
        max-width: 100%;
    }
}
